:root {
    --color-1: #FFFFFA;
    --color-2: #702632;
    --color-3: #912F40;
    --color-4: #40434E;
    --color-5: #080705;

    --font-family: Arial, Helvetica, sans-serif;

    --font-size-2: 12px;
    --font-size-3: 14px;
    --font-size-6: 24px;

    --zindex-top-menu: 502;

    --top-height: 50px;

    --title-margin-left: 20px;
    --login-margin-right: 20px;

    --login-form-width: 300px;

    /* msg boxes */
    --radius: 0.5rem;
    --spacing: 1rem;
    --error-bg: #ffe6e6;
    --error-border: #ff4d4d;
    --warning-bg: #fff8e6;
    --warning-border: #ffb84d;
    --success-bg: #e6ffea;
    --success-border: #34c759;
}